<%= erb :header, :layout => false %>
<h1> It's alive! </h1>
<%= erb :navbar, :layout => false %>

<div class="full">
  <%= erb :user, :layout => false %>
  <%= erb :posts, :layout => false %>
  <%= erb :friends, :layout => false %>
  <%= erb :footer, :layout => false %>
</div>
