<%= erb :header, :layout => false %>
<%= erb :navbar_login, :layout => false %>

<div class="full">
  <%= erb :user, :layout => false %>
  <%= erb :register, :layout => false %>
  <%= erb :friends, :layout => false %>
</div>

<%= erb :footer, :layout => false %>
