<%= erb :header, :layout => false %>
<%= erb :navbar, :layout => false %>

<div class="full">
  <%= erb :user, :layout => false %>
  <%= erb :posts, :layout => false %>
  <%= erb :friends, :layout => false %>
</div>

<%= erb :footer, :layout => false %>
